<div class="teams-container">
    <h1 class="application-title">
        NBA Score Tracking App
    </h1>
    <section>
        <p-dropdown id="teamInput" [options]="teams" [(ngModel)]="selectedTeam" [placeholder]="'Select Team'" [optionLabel]="'fullName'"></p-dropdown>
        <button pButton id="trackBtn" class="track-btn" [label]="tracking ? 'Tracking ...' : 'Track Team'" (click)="trackTeam(selectedTeam)" [disabled]="!selectedTeam.id || tracking"></button>
    </section>
    <section class="flex-row all-cards-container">
        <div class="card-container flex-column" *ngFor="let trackedTeam of trackedTeams">
            <app-team-details [trackedTeam]="trackedTeam"
                (removeTeamFromTracking)="onRemovingTeamFromTracking($event)"></app-team-details>
        </div>
    </section>
</div>