.teams-container {
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.application-title {
    margin-top: 0;
}

.all-cards-container {
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.track-btn {
    margin-inline-start: 20px;
    padding: 10px;
}

.card-container {
    width: fit-content;
    border: 1px solid #cccccc;
    padding: 15px 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: #ffffff;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}