.teams-container {
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.application-title {
    margin-top: 0;
}

.all-cards-container {
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.track-btn {
    margin-inline-start: 20px;
    padding: 10px;
}

.card-container {
    width: fit-content;
    border: 1px solid #cccccc;
    padding: 15px 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: #ffffff;
}