<div class="teams-container">
    <header>
        NBA Score Tracking App
    </header>
    <section>
        <p-dropdown id="teamInput" [options]="teams" [(ngModel)]="selectedTeam" [placeholder]="'Select Team'" [optionLabel]="'fullName'"></p-dropdown>
        <button pButton id="trackBtn" label="Track Team" (click)="trackTeam(selectedTeam.id!)" [disabled]="!selectedTeam.id"></button>
    </section>
    <section class="flex-row all-cards-container">
        <div class="card-container flex-column" *ngFor="let trackedTeam of trackedTeams">
            <p class="team-name">
                {{ trackedTeam.fullName }} [{{ trackedTeam.abbreviation }}]
            </p>
            <span class="conference">
                {{ trackedTeam.conference }} Conference
            </span>
            <div class="flex-row m-top-auto">
                <div class="flex-column">
                    <span>
                        Results of past 12 days
                    </span>
                    <div class="results-container flex-row">
                        <span class="result-circle flex-row j-content-center a-items-center"
                            *ngFor="let result of trackedTeam.results"
                            [ngClass]="{'result-win': result == RESULT.win, 'result-loss': result == RESULT.loss}">
                            {{ result }}
                        </span>
                    </div>
                    <div>
                        Avg pts scored: <span style="font-weight: bold"> {{ trackedTeam.avgPointsScored }} </span>
                    </div>
                    <div>
                        Avg pts conceded: <span style="font-weight: bold"> {{ trackedTeam.avgPointsConceded }} </span>
                    </div>
                    <button pButton class="view-game-results-btn p-button-success m-top-auto"
                        label="See game results >>" (click)="viewGameResult(trackedTeam)"></button>
                </div>
                <div>
                    <img [src]="trackedTeam.logo" alt="">
                </div>
            </div>
        </div>
    </section>
</div>

