/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    font-family: Poppins, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 1.2rem;
}
::-webkit-scrollbar-track {
    background-color: #e8eff5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: var(--bluegray-200);
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.j-content-center {
    justify-content: center !important;
}

.a-items-center {
    align-items: center !important;
}

.m-top-auto {
    margin-top: auto !important;
}